/* FileManager Styles */
body{
  background-color: #2b1c3c; /* Consistent background color */
}

.media-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px; /* Maintain gap between grid items */
}

.media-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #483d8b; /* Match background color with FileUploadForm */
  height: 370px;
  width: 300px;
  font-size: 25px;
  color: white;
  border-radius: 8px; /* Match border-radius */
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for depth */
}

.media-item img, .media-item video {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 4px; /* Rounded corners for media */
}

.media-item a {
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 10px;
}

.media-item input {
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  border: 3px solid #5c9915; /* Match border style */
  align-items: center;
}

.media-item button {
  background-color: red; /* Keep distinct button color or match with FileUploadForm */
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: auto;
  border: none; /* Optional: Match button border style */
}

.nav-button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.nav-button {
  background-color: #159799;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: #159799;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
  position: relative;
}

.nav-button:hover {
  background-color: #197d7e;
}
