/* FileUploadForm.css */

.file-upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

/* FileUploadForm.css */

.dropzone {
  border: 4px dashed #838383;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 20px;
  height: 200px;
  width: 300px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Create 5 columns */
  gap: 20px; /* Adjust the gap between items as needed */
}

li {
  position: relative;
  width: 180px; /* Fixed width for each grid item */
  height: 250px; /* Fixed height for each grid item (adjust as needed) */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Hide the overflowing part of the content */
}

li img, li video {
  width: 100%;
  height: auto; /* Adjust the height automatically */
  object-fit: cover;
}

li div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%; /* Make the div take the full width of the list item */
  padding: 10px; /* Add padding to the div */
  margin: 20px;
  box-sizing: border-box; /* Include padding and border in the total width/height */
}

li span {
  flex: 1;
}

li input {
  width: 90px;
  margin: 5px;
}

li button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  width: 100px;
  margin: 5px;
}